.shop-cart-item {
  margin: 10px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.shop-cart-item__img {
  width: 120px;
}
.delete__img {
  height: 25px;
  margin: 16px 16px 0px;
}

.details--cant {
  display: flex;
  justify-content: space-between;
}
