@import url(https://fonts.googleapis.com/css2?family=Muli:wght@300;400;600;900&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap);

$theme-font-muli: 'Muli', sans-serif;
$theme-font-lato: 'Lato', sans-serif;
$main-color: #fff;
$green-color: #67ae73;
